body {
    font-family: Roboto, Montserrat, sans-serif;
    margin: 0%;
    color: black;
    background-color: White;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: relative;
    top: 0%;
    display: flex;
    justify-content : space-around;
    /* background-color: AntiqueWhite; */
    background-color : #FEA222;
}

.logo {
    width: 5%;
    padding: 1% 0 1% 0;
}

#logo {
    width: 90%;
    height: 90%;
}

h1 {
    color : #EBEBEB;
}

.rech select {
    font-size: 0.9em;
    width: 30%;
}

option {
    box-sizing: border-box;
}

.rech {
    display: flex;
    justify-content: center;
    margin: 1.9% 0 1.9% 0;
    textalign : center;
}

#barreRecherche {
    font-size: 0.9em;
}

#recherche {
    font-size: 0.9em;
}

.pan {
    width: 5%;
    padding: 1% 0 1% 0;
}

#panier {
    width: 90%;
    height: 90%;
}

.rightBar {
    margin: 1.5% 0 1.5% 0;
    textalign : center;
}

.rightBar ul {
    display: flex;
    justify-content: space-between;
}

.rightBar li {
    list-style-type: none;
    font-size : 0.8em;
    padding : 0 2% 0 2%;
}

.rightBar li:last-child {
    color : #EBEBEB;

}

.rightBar li:last-child a {
    color: White;
}

.signLog {
    font-size: 1.2em;
    font-weight: bold;
    font-variant: small-caps;
    color: black;
}
