.corps {
    display: flex;
    justify-content: space-between;
}

.catLat {
    width: 11%;
    margin-top: 3%;
    font-size : 0.7em;
}

.catLat ul {
    padding: 0%;
    border: solid AntiqueWhite 2px;
    border-radius: 0px 10px 10px 0px;
    /* background-color: Snow; */
}

.catLat li {
    height: 3%;
    padding: 5%;
    list-style-type: none;
    text-align: center;
    border-top: solid AntiqueWhite 1px;
    border-bottom: solid AntiqueWhite 1px;
}

.catLat li:first-child {
    border-top: none;
}

.catLat li:last-child {
    border-bottom: none;
}

.zone {
    height: 300%;
    width: 80%;
    margin-right: 5%;
    margin-top: 2%;
    /* background-color: PowderBlue; */
}

.zone h2 {
    font-size: 1.7em;
    margin-left: 1%;
}

.zone hr {
    height: 2px;
    background-color: Black;
}

.presentation {
    display: flex;
    flex-direction : column;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.article {
    border: solid AntiqueWhite 4px;
    border-radius: 10px;
    background-color: MintCream;

    display : flex;
    flex-direction : row;
    justify-content: flex-start;

    margin : 1%;
}

.article * {
    padding : 0 2% 0 2%;
}

.article a {
    margin : auto;
    margin-left : 0;
    margin-right : 0;
}

.description {
    display : flex;
    flex-direction : column;
    justify-content : space-around;
}

.description a {
    text-decoration : underline;
}

.article img {
    width: 7em;
    height: 7em;
}
