a:nth-child(2) {
    font-size: 1.8em;
    font-weight: bold;
    padding: 1% 0% 0% 0%;
}

.corps {
    margin: auto;
    margin-top: 3%;
    width: 60%;
}

table {
    width: 100%;
    padding: 2%;
    background-color: AntiqueWhite;
    border: solid AntiqueWhite 3px;
    border-radius: 10px;
}

td {
    text-align: center;
}

.prod {
    text-align: left;
    width: 40%;
}
