.corps {
    margin: auto;
    margin-top: 3%;
    width: 60%;
}

table {
    width: 100%;
    padding: 2%;
    background-color: AntiqueWhite;
    border: solid AntiqueWhite 3px;
    border-radius: 10px;
}

td {
    text-align: center;
}

td a {
    text-decoration : underline;
}

.prod {
    text-align: left;
    width: 40%;
}

.commander {
    background-color : #FEA222;
    color : #EBEBEB;
    padding : 4px;
    border-radius : 5px;
    box-shadow : 1px 2px #A35500;
}
