a:nth-child(2) {
    font-size: 1.8em;
    font-weight: bold;
    padding: 1% 0% 0% 0%;
}

.corps {
    height: 300%;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    display: flex;
}

.image {
    width: 50%;
    height: 30%;
}

.image img {
    justify-content: center;
    width: 80%;
    height: 80%;
}

.produit {
    width: 50%;
    height: 30%;
    font-size: 1.6em;
}

input:last-child {
    font-size: 0.8em;
    padding: 1% 2%;
}
